{% extends "base.html" %}
{% block title %}Audience{% endblock title %}

{% block js %}
<script defer="defer" src="/js/remarkable.js"></script>
<script defer="defer" src="/js/katex.js"></script>
<script defer="defer" src="/js/auto-render.js"></script>
<script defer="defer" src="/js/render-a11y-string.js"></script>
<script defer="defer" src="/js/common.js"></script>
<script defer="defer" src="/js/handlers.js"></script>
<script defer="defer" src="/js/audience.js"></script>
<script defer="defer" src="/js/recording.js"></script>
<link rel="stylesheet" href="/css/katex.css">
{% endblock js %}

{% block stage %}{% endblock stage %}

{% block slide %}
<main>
<article aria-live="polite" id="currentSlide"></article>
</main>
{% endblock slide %}