{% extends "nav.html" %}
{% block title %}{% if pres %}{{ pres.name }}{% else %}Audience{% endif %}{% endblock title %}

{% block js %}
<script defer="defer" src="/js/remarkable.js"></script>
<script defer="defer" src="/js/katex.js"></script>
<script defer="defer" src="/js/auto-render.js"></script>
<script defer="defer" src="/js/render-a11y-string.js"></script>
<script defer="defer" src="/js/common.js"></script>
<script defer="defer" src="/js/audience.js"></script>
<script defer="defer" src="/js/recording.js"></script>
<link rel="stylesheet" href="/css/katex.css">
{% endblock js %}

{% block breadcrumb %}{% if pres %}<nav aria-label="Breadcrumb"><ol><li><a href="/">Home</a></li><li aria-current="page">{{ pres.name }}</li></ol></nav>{% endif %}{% endblock breadcrumb %}
{% block content %}
{% block stage %}{% endblock stage %}
{% if pres %}<span id="pres-name" hidden>{{ pres.name }}</span>{% endif %}
<section aria-live="polite" id="currentSlide">{% if initial_slide %}{{ initial_slide | safe }}{% endif %}</section>
{% endblock content %}
