{% extends "nav.html" %}
{% block title %}Home{% endblock title %}

{% block breadcrumb %}<nav aria-label="Breadcrumb"><ol><li aria-current="page">Home</li></ol></nav>{% endblock breadcrumb %}
{% block content %}
<main>
<h1 id="syncSlide">SyncSlide</h1>
<p>Even with the most accessible Powerpoint slides provided in advance, not being able to track what the presenter is showing on stage has been a pressing issue in academic settings, conferences, and business presentations for many with print disabilities.</p>
<p>SyncSlide is a presentation tool that incorporates web technologies to create simple, accessible, live slides that can be viewed from any device with a web browser. The goal is to create an alternative presentation software, such that assistive technologies users (i.e., screen readers, specialized fonts, color inversion, etc.) can effortlessly follow along without the need to see the projecting screen. For presenters, SyncSlide provides a simple way to input their presentation content using basic text formatting (Markdown) in a semantical manner. They can navigate, edit the slides, and seamlessly update what's being shown in real-time. Since the application is built on web technologies, adding support for different types of content such as audience interaction tools, accessible graphics and math equations will no longer be a barrier.</p>
<p>With its focus on simplicity and versatility, SyncSlide aims to revolutionize the way presentations are delivered and experienced, making them truly accessible to all.</p>
</main>
{% endblock content %}