{% extends "nav.html" %}
{% block title %}Join Presentation{% endblock title %}

{% block js %}
<script defer src="/js/join.js"></script>
{% endblock js %}

{% block breadcrumb %}<nav aria-label="Breadcrumb"><ol><li><a href="/">Home</a></li><li aria-current="page">Join Presentation</li></ol></nav>{% endblock breadcrumb %}
{% block content %}
<h1>Join Presentation</h1>
<form id="joinForm">
<label for="uname">Username</label>
<input type="text" id="uname" name="username" required>
<label for="code">Presentation Code</label>
<input type="text" id="code" name="code" required>
<button type="submit">Join</button>
</form>
{% endblock content %}
