{% extends "base.html" %}
{% block nav %}
<nav>
<ul class ="clear-list">
<li><a href="/">Home</a></li>
{% if user %}
<li><a href="/create">Create presentation</a></li>
<li><a href="/user/presentations">Presentations ({{ pres_num }})</a></li>
{% if 'admin' in groups %}
<li><a href="/user/new">Add User (admin)</a></li>
{% endif %}
<li><a href="/user/change_pwd">Change Password</a></li>
<li><a href="/auth/logout">Logout</a></li>
{% else %}
<li><a href="/auth/login">Login</a></li>
{% endif %}
<li><a href="/join">Join presentation</a></li>
</ul>
</nav>
{% endblock nav %}

{% block footer %}
<footer>
<ul class ="clear-list">
<li><a href="/demo">Demo</a></li>
<li><a href="https://github.com/ClippyCat/syncslide/">SyncSlide on github</a></li>
</ul>
</footer>
{% endblock footer %}
